.grid {
    .row {
        display: flex;
        .square {
            min-height: 50px;
            min-width: 50px;
            flex: 1;
            background-color: tomato;
            .activeImg {
                width: 50px;
                height: auto;
            }
        }
    }
}